body {
    font-family: '맑은 고딕', sans-serif;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
	position: relative;
    background-color: #fff;
    width: 400px;
    max-width: 90%;
    margin: 50px auto;
    padding: 20px;  
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    text-align: center;
}

.logo {
    margin-bottom: 10px;
    width: 150px; 
    height: auto;
}

.form-table {
    margin: 0 auto;
    border-collapse: collapse;
}

.form-table td {
    padding: 10px 15px;
}

.rank-tbl {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
	table-layout: fixed;
	word-wrap: break-word;
}

.rank-tbl th, .rank-tbl td {
    padding: 15px 10px;
	font-size: 14px;
	line-height: 1.2; 
    border: 1px solid #ddd;
	white-space: nomal;
}

.rank-tbl th {
    background-color: #acbad7;
    color: white;
    font-size: 12px;
}

.h3 {
    margin-bottom: 20px;
    color: #333;
}

.p {
    font-size: 16px;
    margin: 8px 0;
}

.level-btn {
    margin: 5px;
    padding: 10px 20px;
    border: 2px solid #8398bd;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    background-color: white;
    transition: 0.3s;
}

.level-btn:hover {
    background-color: #789bbe;
}

.btn-group {
    margin-top: 20px;
}

.btn {
    background-color: #8eadcc;
    border: none;
    color: white;
    padding: 10px 25px;
    margin: 5px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #789bbe;
}

.back-btn {
	position: absolute;
    top: 10px;
    left: 20px; 
	border: none;
	color: #e5eaef;
    margin-top: 15px;
    background-color: #b1c0d1;
	width: 20px;
    height: 20px;
	border-radius: 50%;
}

.option-btn {
    border: none;
    margin-top: 15px;
    background-color: #b1c0d1;
	color: white;
}

.user-opt-btn {
	position: absolute;
    top: 10px;
    left: 20px; 
    border: none;
    margin-top: 15px;
    background-color: #b1c0d1;
	color: white;
	border-radius: 50%;
}